
.container {
  text-align: center;
}

img .card{
 max-width: 300px;
  max-height: 500px;
}


hr.primary, hr.light {
    margin: 25px auto 30px;
    padding: 0;
    max-width: 250px;
    border: 0;
    border-top: solid 5px;
    text-align: center;
  }
  
  hr.primary {
   border-color: #2c3e50;
  }
  hr.light{
  border-color: #fff;
  }